In [4]:
a=50

In [9]:
if a < 40:
    Pass

In [10]:
a<30

False

In [11]:
a<50

False

In [12]:
a<60

True

In [13]:
50<30

False

In [35]:
if 50000>10:
   print("i will be able to buy a car")
else : 
 print("the statement is true")

i will be able to buy a car

In [ ]:
income = 600
if income > 80:
    print ("i will be able to buy a porse")
elif income < 40:
    print("i will be able to buy an iphone")
elif income < 50: 
    print(" i will be able to buy a superbike")
else:
    print(" i will able to buy nothing")

In [2]:
income = int(input())
if income < 80:
    print ("i will be able to buy a porshe")
elif income < 100:
    print("i will be able to buy an iphone")
elif income < 156: 
    print(" i will be able to buy a superbike")
else:
    print(" i will able to buy nothing")

140
 i will be able to buy a superbike

In [23]:
Total_price = int(input())
if Total_price >30000 :
    discount = Total_price * .30
    print ("Discount of" ,discount)
elif Total_price >=3000:
            discount=Total_price *.05
            print("Discount will be"  , discount)
else:
        print("no discount available")

310000
Discount of 93000.0

In [24]:
Total_price = int(input())
if Total_price >30000 :
    discount = Total_price * .30
    print ("Discount of" ,discount)
elif Total_price >=3000:
            discount=Total_price *.05
            print("Discount will be"  , discount)
else:
        print("no discount available")

3467
Discount will be 173.35000000000002

In [33]:
Total_price = int(input())
if Total_price >30000 :
    discount = Total_price * .30
    print ("Discount of" ,discount)
elif Total_price >=3000:
            discount=Total_price *.05
            print("Discount will be"  , discount)
else :
    
        discount=Total_price* .0
        print("no discount available")

300
no discount available

In [9]:
study_hour = int(input())
if  study_hour > 2:
    print("you will never get a job")
elif study_hour >= 4:
    print("you will succeed for 50%")
elif study_hour > 6:
    print("you will get a fine job")
elif study_hour <=10 :
    print("you will just fly away")
else :
    print("you can do nothing")

3
you will never get a job

In [17]:
study_hour = int(input())
if  study_hour < 2:
    print("you will never get a job")
elif study_hour <= 4:
    print("you will succeed for 50%")
elif study_hour < 6:
    print("you will get a fine job")
elif study_hour <=10 :
    print("you will just fly away")
else :
    print("you can do nothing")

130
you can do nothing

In [24]:
s = "BISWARANJAN "
for i in s :
    print(i)

B
I
S
W
A
R
A
N
J
A
N

In [25]:
l = [1,2,3,4,5,5.6,4+8j,"biswa"]

In [26]:
len(l)

8

In [27]:
l

[1, 2, 3, 4, 5, 5.6, (4+8j), 'biswa']

In [35]:
l = [1,2,3,4,5,5.6,4+8j,"biswa"]
for i in range(len(l)):
    print("index", i , "for element", l[i])

index 0 for element 1
index 1 for element 2
index 2 for element 3
index 3 for element 4
index 4 for element 5
index 5 for element 5.6
index 6 for element (4+8j)
index 7 for element biswa

In [6]:
l=[24,55,657,76,34,[8.88],8+9j,"chintu"]
for i in l :
    if type(i) == int:
        print(i)

24
55
657
76
34

In [7]:
l

[24, 55, 657, 76, 34, [8.88], (8+9j), 'chintu']

In [9]:
for i in enumerate(l):
    print(i)

(0, 24)
(1, 55)
(2, 657)
(3, 76)
(4, 34)
(5, [8.88])
(6, (8+9j))
(7, 'chintu')

In [10]:
for i , j in enumerate(l):
    print(i , j)

0 24
1 55
2 657
3 76
4 34
5 [8.88]
6 (8+9j)
7 chintu

In [8]:
l =(1,2,3,4,54,5,6,6,5,,4,3)

SyntaxError: invalid syntax (2494376590.py, line 1)

In [4]:
for i in l:
    if type(i) == int:
        print(i)

NameError: name 'l' is not defined

In [3]:
l=[24, 55, 657, 76, 34, [8.88], (8+9j), 'chintu']

In [9]:
l = [24, 55, 657, 76, 34, [8.88], (8+9j), 'chintu']
l2 = []
for i in l :
    if type(i) == int:
        l2.append(i**2)

In [10]:
l2

[576, 3025, 431649, 5776, 1156]

In [7]:
l2 = []
for i in l :
    if type(i) == int:
        l2.append(i*2)

In [8]:
l2

[48, 110, 1314, 152, 68]

In [17]:
l=[24,55,657,76,34,[8.55,88.88,9.99,88,],8+9j,"chintu"]
for i in l :
    if type(i) == int:
        print(i)
    elif type(i) == list:
            for j in i :
                print(j)

24
55
657
76
34
8.55
88.88
9.99
88